<!DOCTYPE html>

<html lang="en">
<head>
  <title>ChatBot Games</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<div id="header">
  <h1>CHATBOT GAMES</h1>
</div>


<section>
  
  <!-- Sidebar -->
  <nav>

    <!-- High Score Display -->
    <div class="sidebar">
      <h2>HI SCORES</h2>
      <table id="score_table">
        <!-- Data from GET request goes here -->
      </table>
    </div>
    
    <!-- Game Select Menu -->
    <div class="sidebar">
        <h2>GAMES</h2>
    
      <ul>
        <li> <button onclick=game_select(0) id="home_select" class="game_select rcorners">Home</button> </li>
        <li> <button onclick=game_select(1) id="typing_select" class="game_select rcorners">Typing Challenge</button> </li>
        <li> <button onclick=game_select(2) id="spelling_select" class="game_select rcorners">Spelling Bee</button> </li>
        <li> <button onclick=game_select(3) id="wow_select" class="game_select rcorners">World of Words</button> </li>
        <li> <button onclick=game_select(4) id="guess_select" class="game_select rcorners">Guess the Word</button> </li>
      </ul>
    </div>

  </nav>

  <!-- Main Chat Panel -->
  <article>
    <div id="out_wrapper">
      <div id="output">
      </div>
    </div>

    <input type="text" id="input" placeholder="Type...">

  </article>
  

</section>

<!-- Footer with Credits -->
<footer>
  <p>Swarthmore College</p>
  <p>Created by Syed Ali, Nick Baldev, Zixi Gao, and Griffin Moore</p>
</footer>

  <!-- Link to JavaScript files in 'static' directory-->
  <script src="{{url_for('static', filename='scores.js')}}"></script>
  <script src="{{url_for('static', filename='chatlogs.js')}}"></script>
  <script src="{{url_for('static', filename='textinput.js')}}"></script>
  <script src="{{url_for('static', filename='corechat.js')}}"></script>
  <script src="{{url_for('static', filename='word_sentences.js')}}"></script>
  <script src="{{ url_for('static', filename='spelling_bee.js') }}"></script>
  <script src="{{ url_for('static', filename='typingChallenge.js') }}"></script>
  <script src="{{ url_for('static', filename='guessword.js') }}"></script>
  <script src="{{ url_for('static', filename='WorldofWords.js') }}"></script>
  <script src="{{ url_for('static', filename='allGames.js') }}"></script>
  <!-- Includes word/sentence lists -->
  <script charset="UTF-8">
    set_valid_word_list(english_word_list);
    set_valid_sentences_list(english_sent_list);
    set_valid_wow_words(wow_word_list)
  </script>
  
</body>
</html>
